*{
    color: grey;
}
body{
    background-color: bisque;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
#product-desktop{
    width: 320px;
    height: 450px;

}
#content{
    width: 320px;
    height: 450px;
    background-color: white;
}

#content > #title{
    margin: 20px;
    margin-bottom: 5px;
}
#content > #tagline{
    font-size: 35px;
    color: black;
    font-weight: 600;
    text-align: justify;
    align-self: center;
    padding-right: 50px;
    padding-left: 30px;
    margin-top: 20px;
    
}